<div class="product-carousel2-attached">

  <div class="flex-container" >
    <h4>Browse by product type:</h4>
    <div class="flex-item" >
      				<select onChange="window.location.href=this.value">
                              <option value"Select Product Type">Select Product Type</option>
              {% for link in linklists.products.links %}
     <option value="{{ link.url }}">{{ link.title }}</option>
{% endfor %}
 </select>

    </div>
     <h4>Browse by application:</h4>
      <div class="flex-item">
      				<select class="category">
              {% for link in linklists.sub-categories.links %}
     <option value="{{ link.title }}"><a href="{{ link.url }}">{{ link.title }}</a></option>
{% endfor %}
 </select>

    </div>

  </div>



  </div>