{% if id != blank %}
    <li class="spec {{ cycleClass }}">
        <div class="spec-title" style="color: {{ titleColor }}">{{ title }}</div>
        <div class="spec-data" style="color: {{ specColor }}">{{ id }}</div>
    </li>
{% endif %}

<style>

    .spec-data {
        color: white;
    }
</style>