<div class="menu-container">
    <div class="menu">
        <ul class="main-menu-desktop">
            <li class="top-level-nav">
                <a href="#">Products
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul class="product-link-list">
                    {% for link in linklists.products.links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li class="top-level-nav">
                <a href="#">Markets
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul class="product-link-list">
                    {% for link in linklists.markets.links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li class="top-level-nav">
                <a href="#">Video Wall
                    <i class="fas fa-caret-down"></i>
                </a>

                <ul class="product-link-list">
                    {% for link in linklists.video-walls.links %}
                        <li>
                            {% if link.title == 'Quote Builder Tool' or link.title == 'IRiS LED Video Walls' %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            {% else %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            {% endif %}
                        </li>

                    {% endfor %}
                </ul>
            </li>

            <li class="top-level-nav">
                <a href="/pages/where-to-buy">Where to Buy
                </a>
            </li>
            {%- comment -%} <li class="highlighted-item top-level-nav">
                <a href="#">Warehouse Deals
                    <i class="fas fa-caret-down"></i>
                </a>

                <ul class="product-link-list">
                    {% for link in linklists.warehouse-deals.links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li> {%- endcomment -%}
            <li class="top-level-nav">
                <a href="#">Support
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul class="product-link-list">
                    {% for link in linklists.support.links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <!--             <li><a href="/pages/illuminati">Illuminati</a></li> -->

            <li class="top-level-nav">
                <a href="/explore">Explore
                </a>

            </li>
        </ul>
    </div>
</div>