{% assign current_variant = product.selected_variant %}
{% assign add_to_cart = 'Add to Cart' %} {% assign sold_out = 'Out of Stock' %} {% assign unavailable = 'Unavailable' %}

{% if product.metafields.c_f.Preorder_Date %}
{% assign add_to_cart = 'Pre-order Now' %}
{% endif %}
{% include 'sticky-contact' %}
<style>
  .bundle-add {
    display: table;
    cursor: pointer;
}

  #navigate {
    background: black;
  }

  div#inline {
    padding: 10px;
  }

  .otl{margin-top: 0px !important}

  li.item-a img {mix-blend-mode: normal !important;}
</style>


<script>
  function adjustQty(qty,) {
    $('.num-in span').click(function () {
      var $input = $(this).parents('.rounded-qty').find('input.in-num');
      var count = parseFloat($input.val()) - 1;

      if($(this).hasClass('minus')) {
        count = count < 1 ? 1 : count;
        if (count < 2) {
          $(this).addClass('dis');
        }
        else {
          $(this).removeClass('dis');
        }
        $input.val(count);
      }
      else if (count < qty - 1) {
        var count = parseFloat($input.val()) + 1;

        $input.val(count);
        if (count > 1) {
          $(this).parents('.num-block').find(('.minus')).removeClass('dis');
        }
      }

      $input.change();
      return false;
    });
  }
</script>


<div id="alt-inventory">
  <div class="close-sidebar"><i class="fal fa-times"></i></div>
  <div class="inventory-sidebar">
    <div class="inventory-container">
      {% for variant in product.variants %}

      {% if variant.title == 'Like New' or variant.title == 'Refurbished' %}

      {% if variant.available %}
      <div class="alt-variant">
        <div class="quality-type-price">
          <h4>Quality: {{variant.title}}</h4>
          <div class="qty-span">In-Stock: <span>{{variant.inventory_quantity}}</span></div>
          <h3>{{variant.price | money}}</h3>
        </div>
        <div class="rounded-qty" style="margin-bottom: 20px">
          <div class="num-in" onclick="adjustQty({{variant.inventory_quantity}})">
            <span class="minus dis">-</span>
            <input readonly class="in-num" value="1" min="1" max="{{variant.inventory_quantity}}" type="number" name="quantity" style="color: black" >
            <span class="plus dis">+</span>
          </div>
        </div>
        <div id="error-message"></div>
        <div class="varId">{{variant.id}}</div>
        <input type="submit" class="btn blue buy-alt" value="{{add_to_cart}}" />
        <div class="warranty-info">
          {% if variant.title == 'Like New' %}
          Products are fully functional and have gone through our rigorous quality control testing process, but may have minor cosmetic damage. Their packaging may be generic. These fixtures are backed by Blizzard Lighting’s 2-year warranty.
          {% elsif variant.title == 'Refurbished' %}
          These fixtures are fully functional and have gone through our rigorous quality control testing process. They work like new with potential signs of wear and tear caused by use in sales demonstrations, promotional content, or a prior sale. Their packaging may be generic. These fixtures are backed by Blizzard Lighting’s 90-day warranty.
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="product new-2019" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
  <!-- Modal -->

  <div id="inline" style="background:#fff" class="lity-hide">
    <div class="photom">
      {{ product.metafields.c_f.Photometric }}
    </div>
  </div>

  <div id="product--page">
    <div class="flex-container">
      <div class="image-column">
        <div class="mobile">

        {% assign comparing = false %}
        {% assign bubbleDiscount = 0 %}
        {% assign compareAtPrice = product.selected_or_first_available_variant.compare_at_price | money_without_currency %}
        {% assign salesPrice = product.selected_or_first_available_variant.price | money_without_currency %}
        {% if salesPrice < compareAtPrice %}
        {% assign comparing = true %}
        {% assign newprice_ratio = salesPrice | divided_by: compareAtPrice %}
        {% assign bubbleDiscount = 1.0 | minus: newprice_ratio | times: 100  %}
        {% endif %}
        {% if comparing %}
        <!-- <span class="percent-off-banner">{{bubbleDiscount | round}}% </br>OFF</span> -->
        {% endif %}
          <h1>{{ product.title }}</h1>
          <h2 class="product-subtext"> {{ product.metafields.c_f.Product_Subtitle }}</h2>


        </div>
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" class="featured" id="ProductPhotoImg">

        {% assign prodLength = product.images.size | minus: 4 %}
        {% assign viewMore  = product.images.size %}
        {% if product.images.size > 1 %}
        <div class="photos__item photos__item--thumbs">
          <div class="product-single__thumbnails{% unless product.images.size > 2 %} product-single__thumbnails--static{% endunless %}" id="ProductThumbs-{{ section.id }}">
            {% for image in product.images reversed %}
            {% if forloop.index > prodLength and forloop.index != viewMore %}
            <a class="product-single__thumbnail-item {% if image == featured_image %} is-active {% endif %}" href="{{ image.src | img_url: 'master' }}" data-lightbox="product-images" style="background-image: url({{ image.src | img_url: '160x160' }})"></a>

            {% elsif forloop.index == viewMore %}


            <a style="background-image: url({{ image.src | img_url: '160x160' }})" class="product-single__thumbnail-item {% if image == featured_image %} is-active {% endif %} view-more-image" href="{{ image.src | img_url: 'master' }}" data-lightbox="product-images">
            </a>

            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>

      <div class="prod-info--">
        <h1 class="desktop">{{ product.title }}</h1>
        <h2 class="product-subtext desktop"> {{ product.metafields.c_f.Product_Subtitle }}</h2>
        <div class="price-container" id="price">

          {% for variant in product.variants %}
          {% if variant.title == 'New' and variant.available %}
          {% elsif variant.title == 'New' %}
          {% assign add_to_cart = 'Out of Stock' %}
          {% endif %}
          {% if variant.title == 'Like New' or variant.title == 'Refurbished' %}
          {% if variant.available %}
          {% assign secondaryInventory = secondaryInventory | plus: 1 %}
          {% endif %}
          {% endif %}
          {% endfor %}

<h3 class="price" id="ProductPrice">
  {% if page.url contains == 'variant' %}
  {{ current_variant.price | money }}
  {% else %}
  {{ product.price_max | money }}
  {% endif %}
</h3>



        </div>

        {% assign showInventory == false %}
        {% for variant in product.variants %}
        {% if variant.title == 'Refurbished' or variant.title == 'Like New' %}
        {% if variant.inventory_quantity > 0 %}
        {% assign showInventory = true %}
        {% endif %}
        {% endif %}
        {% endfor %}


        {% if product.metafields.c_f.Main_Features %}
        <ul class="fa-ul features-short">
          {{ product.metafields.c_f.Main_Features }}
        </ul>
        {% endif %}
        {% if product.tags contains 'en route' %}
        <div class="notify-me">
                  <div class="notify-me-email">
          <div class="notify-me-container">
            <p class="info-box">
            	This product is temporarily unavailable. Place your order with the shipping date below; get notified when it's back in stock; or buy from an authorized reseller.
            </p>
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                portalId: "4135982",
                formId: "7ec1b63b-8d6a-450d-92b9-f65fd32f6e4e"
              });
            </script>
          </div>
        </div>
        </div>

        {% endif %}
        {% if product.metafields.c_f.Preorder_Date %}
        <p class="shipbydate">Expected Shipping Date: {{ product.metafields.c_f.Preorder_Date }}</p>
        {% endif %}

          {% unless product.available %}
          {% else %}
  
          <div class="cart-group">
            <a class="btn btn-blue bundle-add">
              Add to cart
            </a>
          </div>
          {% endunless %}

        {% if product.metafields.c_f.Preorder_Date %}
        {% else %}
        {% if product.tags contains 'Merch' %}
        {% else %}
        {% endif %}
        {% endif %}
        {% unless product.available %}
        {% else %}
        {% endunless %}

        {% if product.metafields.c_f.Preorder_Date %}
        {% elsif product.available %}
        {% if product.tags contains 'en route' %}
        {% else %}
        <div class="shipping-info"><i class="fas fa-shipping-fast"></i> {% if product.metafields.c_f.Ship_Date_Estimate %}{{product.metafields.c_f.Ship_Date_Estimate}}{% elsif product.tags contains 'en route' %}Ships in 2-3 Weeks {% else %} Usually Ships Same Day{% endif %}</div>
        {% endif %}
		{% endif %}
        <div class="shipping-info"><i class="fas fa-check"></i> Tested for Quality</div>
      </div>
    </div>
  </div>

  <div class="bundle-contents">
    <h2>Bundle Contents</h2>
    <div class="bundle-grid {{product.handle}}">
      
      {% for product in collections[product.handle].products %}
      {% include 'bundle-item' %}
      {% endfor %}
      

    </div>
  </div>

  <div class="more-info-product">

    
    {% if product.metafields.c_f.Youtube_URL %}
    <div class="v-container">
      <div class="vimeo">
        <div  style="padding:56.25% 0 0 0;position:relative;">
          <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/{{product.metafields.c_f.Youtube_URL}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>              </div>
      </div>
    </div>
    {% endif %}

    
  </div>



  {% if product.metafields.c_f.Section_1_Header %}
  <div id="section-1" class="overview-section">
    {% if product.metafields.global.vimeo_url%}
    <div class="v-container">
      <div class="vimeo">
        <div  style="padding:56.25% 0 0 0;position:relative;">
          <iframe src="https://player.vimeo.com/video/{{product.metafields.global.vimeo_url}}?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    {% endif %}


    <div class="container" style="padding-bottom: 100px">
      <div class="flex-container">
        <div class="featuredimg">
          {% assign featured_image =
product.selected_or_first_available_variant.featured_image | default:
          product.featured_image %}
          <img
          id="ProductPhotoImg"
               src="{{ featured_image | img_url: '2048x' }}"
               alt="{{ featured_image.alt | escape }}"
               />

        </div>
        <div class="featuredr">
          {% if product.metafields.c_f.Section_1_Header %}
          <h2>{{ product.metafields.c_f.Section_1_Header }}</h2>
          {% endif %} {% if product.metafields.c_f.Section_1_Description %}
          <p>{{ product.metafields.c_f.Section_1_Description }}</p>
          {% endif %}
          {% if product.title == 'SoC-It™' %}
          <h4 style="text-decoration: underline;">Download our free <a target="_blank" href="https://lp.blizzardpro.com/at-full/">@Full</a> app:</h4 style>
          <div class="flex-container" style="justify-content: start; margin-top: 0px">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.blizzardpro.atfull">
              <img style="width: 150px; margin-right: 10px;" src="{{ 'play-store_2x.png' | asset_url }}">
            </a>

            <a target="_blank" href="https://apps.apple.com/us/app/full/id1483078784">
              <img  style="width: 150px;" src="{{ 'ios-store_2x.png' | asset_url }}">
            </a>
          </div>
          {% endif %}

        </div>
      </div>

      {% if product.metafields.c_f.Section_2_Header %}
      <div class="flex-container">
        <div class="featuredimg leftimg">
          <img src="{{ product.images[2].src | img_url: 'master' }}">
        </div>
        <div class="featuredr rightdr">
          <h2>{{ product.metafields.c_f.Section_2_Header }}</h2>
          {% endif %} {% if product.metafields.c_f.Section_2_Description %}
          <p>{{ product.metafields.c_f.Section_2_Description }}</p>
          {% endif %}
        </div>
      </div>



    </div>

    {% if product.tags contains 'cables' %}

    {% elsif product.tags contains 'new' %}

    {% assign aImg = product.images.size | minus: 1 %}
    {% assign bImg = product.images.size | minus: 2 %}
    {% assign cImg = product.images.size | minus: 3 %}
    {% assign dImg = product.images.size | minus: 4 %}
    {% assign eImg = product.images.size | minus: 5 %}
    <div class="action-section">
      <div class="action-grid">
        <div class="col--1">
          <div class="a" style="background-image:url({{ product.images[aImg].src | img_url: 'master' }})"></div>
        </div>
        <div class="col--2">
          <div class="b" style="background-image:url({{ product.images[bImg].src | img_url: 'master' }})"></div>
          <div class="c" style="background-image:url({{ product.images[cImg].src | img_url: 'master' }})"></div>
        </div>
        <div class="col--3">
          <div class="d" style="background-image:url({{ product.images[dImg].src | img_url: 'master' }})"></div>
          <div class="e" style="background-image:url({{ product.images[eImg].src | img_url: 'master' }})"></div>
        </div>
      </div>
    </div>
    {% else %}
    <ul id="prodSlider">

      {% for image in product.images %} {% unless forloop.index < 4 %} <a data-lity href="{{ image | product_img_url: 'master' }}" title="{{ product.title }}">
      <li class="item-a" class="{% if forloop.index < 4 %}mobile-only{% endif %}">
        <div class="overflow-overlay"></div>

        <img src="{{ image.src | img_url: 'master' }}">

      </li>
      </a>
      {% endunless %} {% endfor %}

    </ul>
    {% endif %}
    
  </div>
  {% endif %}

  {% assign aImg = product.images.size | minus: 1 %}
  {% assign bImg = product.images.size | minus: 2 %}
  {% assign cImg = product.images.size | minus: 3 %}
  {% assign dImg = product.images.size | minus: 4 %}
  {% assign eImg = product.images.size | minus: 5 %}
  






      {% comment %}
      Adding support for product options. See here for details:
      http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
      {% endcomment %}
      <script>

jQuery(function() {
                CartJS.init({{ cart | json }});
            });

            
        var bundle = [
          {% for product in product.metafields.c_f.bundled_products %}
           {
              id: {{product.id}},
              quantity: 1
            },
          {% endfor %}
          ]

          console.log(bundle)
        jQuery(document).ready(function($) {
          $('.bundle-add').click(function() {
            if(bundle) {
              CartJS.addItems(bundle, {
                "success": function(data, textStatus, jqXHR) {
                    window.location.href="/cart"
                },
                "error": function(jqXHR, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown + '!');
                }
              });
            }
          })
        })


      </script>



