
  <div class="loading-overlay"></div>

<div class="hm-slider">
<!-- Slide 1 -->
  <div class="hm-slide">
      <div class="top-banner" style="background-image: url({{settings.hero-how-background | img_url: 'master'}})">
  <div class="text-container">
    <h1>{{ settings.hero-how-h1 }}</h1>
    <p>{{ settings.hero-how-p }}</p>
    <a href="{{ settings.hero-how-cta-url }}" class="btn btn-blue full-link"
      >{{ settings.hero-how-cta-title }}</a
    >
  </div>
        <div class="overlay"></div>
    <hr style="width: 100%; visibility: hidden">
 
  </div>
</div>

<!-- Slide 2 -->
  <div class="hm-slide">
      <div class="top-banner" style="background-image: url({{settings.mosaic-box-1 | img_url: 'master'}})">
  <div class="text-container">
    <h1>{{ settings.hero-how-h1 }}</h1>
    <p>{{ settings.hero-how-p }}</p>
    <a href="{{ settings.hero-how-cta-url }}" class="btn btn-blue full-link"
      >{{ settings.hero-how-cta-title }}</a
    >
  </div>
                <div class="overlay"></div>

    <hr style="width: 100%; visibility: hidden">
  </div>
  </div>

  
  <!-- Slide 3 -->
  <div class="hm-slide">
      <div class="top-banner" style="background-image: url({{settings.mosaic-box-2 | img_url: 'master'}})">
  <div class="text-container">
    <h1>{{ settings.hero-how-h1 }}</h1>
    <p>{{ settings.hero-how-p }}</p>
    <a href="{{ settings.hero-how-cta-url }}" class="btn btn-blue full-link"
      >{{ settings.hero-how-cta-title }}</a
    >
  </div>
                <div class="overlay"></div>

    <hr style="width: 100%; visibility: hidden">
  </div>
  </div>


</div>


<style>
  .text-container {z-index: 1 ;margin: auto;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);color: white;}
  .text-container p{
    font-size: 28px;
    padding-bottom: 30px;
        text-shadow: 2px 2px 4px black;
  }
  .text-contaienr h1{
    font-weight: bold;
    text-shadow: 2px 2px 4px black;}
  
  
</style>