<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>


<!-- Global site tag (gtag.js) - Google Ads: 762957249 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-762957249"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-762957249');
</script>



  <style type="text/css">
#iubenda-cs-banner {
    bottom: 0px !important;
    left: 0px !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 99999998 !important;
    background-color: black;
  }
  .iubenda-cs-content {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: auto;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    font-size: 14px;
    background: rgb(37, 37, 37);
    color: #fff;}
  .iubenda-cs-rationale {
    max-width: 900px;
    position: relative;
    margin: 0 auto;
  }
  .iubenda-banner-content > p {
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    line-height: 1.5;
  }
  .iubenda-cs-close-btn {
    margin:0;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }
  .iubenda-cs-cookie-policy-lnk {
    text-decoration: underline;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
  }
</style>
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"lang":"en","siteId":1469457,"cookiePolicyId":12428706,"consentOnButton":false,"consentOnScroll":false, "banner":{ "slideDown":false,"applyStyles":false,"textColor":"black","backgroundColor":"white" } };
</script><script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>



  <script src="//d1liekpayvooaz.cloudfront.net/apps/customizery/customizery.js?shop={{shop.permanent_domain}}"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  {{ content_for_header }}

  <!--[if IE]>
  {{ 'ie.scss.css' | asset_url | stylesheet_tag }}
<![endif]-->

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">

  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
  {{ 'base.scss.css' | asset_url | stylesheet_tag }}
  {{ '768.scss.css' | asset_url | stylesheet_tag }}
  {{ '1030.scss.css' | asset_url | stylesheet_tag }}
  {{ '1240.scss.css' | asset_url | stylesheet_tag }}
  {{ 'lightslider.min.css' | asset_url | stylesheet_tag }}
  {{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'image-map-pro.min.css' | asset_url | stylesheet_tag }}
  <!-- {{ 'squares.min.css' | asset_url | stylesheet_tag }} -->
  {{ 'component.css' | asset_url | stylesheet_tag }}
  {{ 'lity.css' | asset_url | stylesheet_tag }}
  {{ 'unslider.css' | asset_url | stylesheet_tag }}
  {{'//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css' | stylesheet_tag }}
  {{'//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' | stylesheet_tag }}
  <!--  'https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css' | stylesheet_tag }}  -->
  {{ 'https://unpkg.com/aos@2.3.1/dist/aos.css' | stylesheet_tag }}
  {{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' | stylesheet_tag }}
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> updated jquery link below due to category images not loading off screen until refresh. 10-19-2018. Seems to work - Joe T-->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}


  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{ 'shopify_common.js'  | asset_url | script_tag }}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}


  <!-- <link href='https://cdn.webrotate360.com/lib/imagerotator/3.6.1/css/basic.css' rel='stylesheet'/> -->


</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

    <header>
    {% include 'site-nav' %}
    </header>

    <div id="main" role="main">

      {{ content_for_layout }}
    </div>

                {% if product.title contains 'LightShark' %}
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#666; color: #fff; clear:left; font:10px Helvetica,Arial,sans-serif; width:100%;}
    #mc_embed_signup label {display:block;font-size:16px;padding-bottom:10px;font-weight:normal;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://blizzardlighting.us14.list-manage.com/subscribe/post?u=f2f0065007046cef56cc9beaa&amp;id=91bfa1aef9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Want to receive LightShark firmware update notifications via email?</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f2f0065007046cef56cc9beaa_91bfa1aef9" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

{% endif %}
  <footer>

       {{ 'slick.js'  | asset_url | script_tag }}
      {{ 'jquery.easytabs.js'  | asset_url | script_tag }}

      <div class="flex-container">

        <div class="logo-footer"><img src="{{ 'blizz-black.png' | asset_url }}"></div>
  <div class="menu-item">
     {% for link in linklists.footer.links %}
    <ul> {{ link.title | link_to: link.url }}</ul>
{% endfor %}
    </div>
        <div class="menu-item">
             {% for link in linklists.footer-2.links %}
          <ul>{{ link.title | link_to: link.url }}</ul>
{% endfor %}</div>

            <div class="menu-item"> {% for link in linklists.footer-3.links %}
              <ul> {{ link.title | link_to: link.url }} </ul>
{% endfor %}</div>
        <div class="social">
          <a target="_blank" href="https://instagram.com/blizzardlites/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          <a target="_blank" href="http://www.youtube.com/user/blizzardlighting"><i class="fab fa-youtube" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.facebook.com/blizzardlighting/"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
      <p role="contentinfo" class="small-print">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</p>

  <!-- {{'//cdn.webrotate360.com/lib/imagerotator/3.6.1/js/imagerotator.js' | script_tag}} -->
  <!-- {{'//apps.storeimaging.com/shopify/store/wr360hook-7a23d79d-671d-4012-990a-6ecd1d9f81f8-header.js' | script_tag}} -->
  {{ 'https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.js' | script_tag }}

   {% if page.title != 'Challenge' %}

  {{ 'shop.js'  | asset_url | script_tag }}
  {{ 'modernizr.custom.js' | asset_url | script_tag }}
  {{ 'jquery.dlmenu.js' | asset_url | script_tag }}
  {{ 'demoUtils.js' | asset_url | script_tag }}
  {{ 'lity.js' | asset_url | script_tag }}
  {{ 'unslider-min.js' | asset_url | script_tag }}
  {{ 'dragscroll.js' | asset_url | script_tag }}
  {{ 'smooth-scroll.min.js' | asset_url | script_tag }}

  <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

  {{ 'image-map-pro.min.js' | asset_url | script_tag }}
  {{ 'lightslider.min.js' | asset_url | script_tag }}
  {{ 'OptionsCtrl.js' | asset_url | script_tag }}
  {{ 'pathformer.js' | asset_url | script_tag }}
  {{ 'stylesheet.js' | asset_url | script_tag }}
  {{ 'utils-viv.js' | asset_url | script_tag }}
  {{ 'ViewerCtrl.js' | asset_url | script_tag }}
  {{ 'vivus.js' | asset_url | script_tag }}
  {{ 'jquery.lazyload.min.js' | asset_url | script_tag }}

      {% endif %}

	{% include 'search-autocomplete' %}

    </footer>

<script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=blizzard-lighting.myshopify.com"></script>

  <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4135982.js"></script>
<!-- End of HubSpot Embed Code -->

</body>

<script>  jQuery("select.cbb-recommendations-variant-select").val('1');

jQuery(".product-name:contains('- Dealer')").html(function(_, html) {
   return html.replace(/(- Dealer)/g, '<span class="hide"></span>');
});
</script>
</html>
