
<div id="bl-hm-b1" class="container-fluid max">   
    <div class="row">
          {% for block in section.blocks %}
              <div class="col-sm col-sm-{{section.id}}" title="{{block.settings.seo_description}}" style="height: {{section.settings.box_height}}rem;background-size: cover; background-position:center;
              {% if block.settings.video_url == blank %} background-image: url({{ block.settings.image | img_url: 'master'}}){% else %}background-color: black{% endif %}">
  
                {% if block.settings.video_url != blank %}
                {% if block.settings.video_url.type == 'youtube' %}
                  <div class="video-background">
                  <div class="video-foreground">
                  <iframe src="https://www.youtube.com/embed/{{block.settings.video_url.id}}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
                  </div>
                  </div>
                  {% elsif block.settings.video_url.type == 'vimeo' %}
                  <div class="vimeo-wrapper">
                  <iframe src="https://player.vimeo.com/video/{{block.settings.video_url.id}}?background=1&autoplay=1&loop=1&byline=0&title=0"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                  {% endif %}
                {% endif %}
  
                  {% if block.settings.headline != blank %}
                    <div class="box-caption">
                      <h3>{{block.settings.headline}}</h3>
                      <a class="btn btn-white" href="{{block.settings.cta_url}}">{{block.settings.cta_title}}</a>
                    </div>
                  {% endif %}
              </div>
          {% endfor %}
      </div>
    </div>
  
    {% schema %}
    {
      "name": "Boxes",
      "max_blocks": 10,
      "settings": [
      
        {
          "type": "header",
          "content": "Boxes"
        },
        {
          "type": "text",
          "id": "header_title",
          "label": "Section Title"
        },  
        {
          "type": "range",
          "id": "h_gutter",
          "min": 0,
          "max": 5,
          "step": 1,
          "label": "Horizontal Gutter",
          "default": 3
      },
      {
          "type": "range",
          "id": "box_height",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "rem",
          "label": "Box Height",
          "default": 1
      }
      ],
  
      "blocks": [
        {
          "type": "image",
          "name": "Box",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "textarea",
              "id": "seo_description",
              "label": "SEO Description"
            },
            {
              "id": "video_url",
              "type": "video_url",
              "label": "Video URL",
              "accept": ["youtube", "vimeo"]
            },
            {
              "type": "text",
              "id": "headline",
              "label": "Headline"
            },
            {
              "type": "text",
              "id": "cta_title",
              "label": "Main CTA Title",
              "default": "Shop ›"
            },   
            {
              "type": "text",
              "id": "cta_url",
              "label": "Main CTA URL"
            }
          ]
        }
      ],
  
      "presets": [
        {
          "name": "Col Blocks",
          "category": "Image"
        }
      ]
    }
  {% endschema %}
  
  <style>
      .col-sm-{{section.id}} {
          border-radius: 0px !important;
      }
      .box-caption {
      position: absolute;
      left: 30px;
      bottom: 30px;
      color: white;
      max-width: 300px;
      width: 80%;

  }
  
  .box-caption h3 {
    text-shadow: 1px 0px 7px black;
      margin: 0;
      padding: 0;
      font-size: 1.9em;
      font-family: 'Source Sans Pro';
      letter-spacing: 0;
      text-transform: inherit;
      font-weight: 600;
  }
  
  .box-caption .btn {
      background: white;
      color: black;
  }
      .col-sm{
      background-size: cover;
      }
  </style>