<div id="bl-col-text">
    {% for block in section.blocks %}
        <div id="bl-text-image-{{ forloop.index }}">
            <div class="row bl-row-{{ forloop.index }} max py-5">
                <div class="col-lg-5" >
                    <h2>{{ block.settings.headline }}</h2>
                    <p>{{ block.settings.paragraph }}</p>
                    {% if block.settings.cta != blank %}
                        <a href="{{ block.settings.cta_url }}" class="btn">{{
          block.settings.cta
        }}</a>
                    {% endif %}
                </div>
                <div class="col-lg-7">
                    <img class="mt-5" style="display: block; margin: 0 auto"  src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.seo_description }}"/>
                </div>
            </div>
        </div>
        <style>
    .bl-row-{{forloop.index}} {
      max-width: 1030px;
      margin: 0 auto;
      align-items: center;
      flex-direction: {% if block.settings.flip %} inherit; {% else %} row-reverse; {% endif %}
    }
    .bl-row-{{forloop.index}} .btn {
        background-color: {{block.settings.cta_background_color}};
        color: {{block.settings.cta_text_color}};
    }

          #bl-text-image-{{forloop.index}} {
      background-color: {{block.settings.bg_color }};
      padding: {{block.settings.padding}}em 0;
    }
    #bl-text-image-{{forloop.index}} h2 {
      font-size: 3em;
      font-weight: 600;
      padding-bottom: 0.5em;
      color: {{block.settings.text_color}};
    }
    #bl-text-image-{{forloop.index}} p {
      color: {{block.settings.text_color}};
      opacity: 0.8;
    }
  </style>

    {% endfor %}
</div>

{% schema %}

{
    "name": "Two Column (Image + Text)",
    "settings": [
        {
            "type": "header",
            "content": "Two Column (Image + Text)"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Row",
            "settings": [
                {
                    "type": "range",
                    "id": "padding",
                    "label": "Padding",
                    "min": 1,
                    "max": 10,
                    "step": 1,
                    "default": 1
                }, {
                    "type": "color",
                    "id": "bg_color",
                    "label": "Background Color"
                }, {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text Color"
                }, {
                    "type": "checkbox",
                    "id": "flip",
                    "label": "Flip Columns",
                    "default": false
                }, {
                    "type": "textarea",
                    "id": "headline",
                    "label": "Headline"
                }, {
                    "type": "textarea",
                    "id": "paragraph",
                    "label": "Paragraph"
                }, {
                    "type": "text",
                    "id": "cta",
                    "label": "CTA Title"
                }, {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA Url"
                }, {
                    "type": "color",
                    "id": "cta_background_color",
                    "label": "CTA Background Color"
                }, {
                    "type": "color",
                    "id": "cta_text_color",
                    "label": "CTA Text color"
                }, {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }, {
                    "type": "textarea",
                    "id": "seo_description",
                    "label": "SEO Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Two Column (Image + Text)",
            "category": "Image"
        }
    ]
}

{% endschema %}
