<div class="cs-product">
    <div class="cs-prod-blob"></div>
    <div class="cs-product-container">
        <img src="{{ section.settings.image | img_url: 'master' }}"/>
        <h2>{{ section.settings.title }}</h2>
        <h3>{{ section.settings.subtitle }}</h3>
        <div class="cs-product-copy">
            {{ section.settings.copy }}
        </div>
        <a href="{{ sections.settings.url }}" class="btn btn-blue">Learn More</a>
    </div>
</div>

<style>
      .cs-product {
  background: #2FCAD3;
  position: relative;
}

.cs-product h2, h3 {
  margin: 0;
  padding: 0;
}
.cs-product li, .cs-product h3{
  color: white;
  padding: 0;
}

.cs-product ul {
  list-style: none;
  padding: 0 0 0 18px;
}

.cs-product ul li::before {
  content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.cs-product-container {
  position: relative;
  padding: 3em;
}
.cs-product img {
  max-width: 100%;
  margin-bottom: 3em;
}

.cs-prod-blob {
  position: absolute;

}

  </style>


{% schema %}


{
    "name": "Case Study Product",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Product Image"
      },
      {
      "type": "text",
      "id": "title",
      "label": "Product Title"
      },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Product Subtitle"
          },
          {

            "type": "richtext",
            "id": "copy",
            "label": "Product copy"
            },
          {
            "type": "text",
            "id": "url",
            "label": "Product Url"
            }
    ]
}

{% endschema %}