<div class="cs-product">
    <div class="cs-prod-blob"></div>
    <div class="cs-product-container">
        <img src="{{ section.settings.image | img_url: 'master' }}"/>
        <div class="cs-product-text">
            <h2>{{ section.settings.title }}</h2>
            <h3>{{ section.settings.subtitle }}</h3>
            <div class="cs-product-copy">
                {{ section.settings.copy }}
            </div>
            <a href="{{ section.settings.url }}" class="btn btn-blue">Learn More</a>
        </div>
    </div>
</div>

<style>
      .cs-product {
  background: #05051c;
  position: relative;

}

.cs--product {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}


.cs-product {
        font-size: 16px;
    }

.cs-product h2, h3 {
  margin: 0;
  padding: 0;
}
.cs-product li, .cs-product h3{
  color: white;
  padding: 0;
}

.cs-product-copy p {
    color: #bebedb;
}

.cs-product-text h3 {
    text-transform: inherit;
    font-weight: normal;
    padding-bottom: .5em;
    font-family: Source Sans Pro;
    font-size: 1.3em;
}

.cs-product-text h2 {
    font-weight: bold;
    color: #2FCAD3;
}


.cs-product-container {
  position: relative;
  padding: 2.8em;
}
.cs-product img {
  max-width: 100%;
  margin-bottom: 3em;
}

.cs-prod-blob {
  position: absolute;

}

@media screen and (min-width: 768px) {
    .cs-product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cs-product-container img {
    width: 47%;
}

.cs-product-text {
    width: 48%;
}

}


@media screen and (min-width: 1280px) {
    .cs--product {
    width: 25%;
    }

    .cs-product-container {
    display: block;
}

.cs-product-text {
    width: 100%;
}

.cs-product {
  max-width: 330px;
}

.cs-product-container img {
    width: 100%;
}


}


  </style>


{% schema %}


{
    "name": "Case Study Product",
    "class": "cs--product",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Product Image"
      },
      {
      "type": "text",
      "id": "title",
      "label": "Product Title"
      },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Product Subtitle"
          },
          {

            "type": "richtext",
            "id": "copy",
            "label": "Product copy"
            },
          {
            "type": "text",
            "id": "url",
            "label": "Product Url"
            }
    ]
}

{% endschema %}