<div class="how-to-section" id="how-to" style="background-color: {{section.settings.bg_color}}">
    <div class="container">
        <div id="mv-title">
            <h2 style="color: {{section.settings.text_color}} !important">{{section.blocks[0].settings.title}}</h2>
        </div>
        <div class="main-vid">
            <div class="embed-container" id="mv-frame">
                <iframe allowfullscreen frameborder="0" src="https://www.youtube.com/embed/{{section.blocks[0].settings.video.id}}"></iframe>

            </div>
        </div>
        <div class="other-vids" id="ov-frame">
            <h3>Series Playlist</h3>
            <ul>
                {% for block in section.blocks %}
                    <li onclick="setCurrentVid('{{block.settings.video.id}}', '{{block.settings.title}}')" style="color: {{section.settings.text_color}} !important">
                        <i class="fal fa-play-circle"></i>
                        {{block.settings.title}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<style>

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


#ov-frame .active {
    background: gainsboro;
    margin-left: 10px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

      #how-to #ov-frame li:hover {
          background-color: gainsboro !important;
      }

      #how-to h3{
          text-shadow: none !important;;
      }

      #mv-title h2{
          color: {{section.settings.text_color }} !important;
      }


  </style>

<script>
  $('#ov-frame li').click(function() {
    $('#ov-frame li').each(function() {
      $(this).removeClass('active');
    })
    $(this).addClass('active');
  });

  let currentVid = 0;


  function reportWindowSize() {
    const mainVidHeight = document.querySelector('#mv-frame').offsetHeight;
    jQuery('#ov-frame ul').css('height', mainVidHeight - 30);
  }

  window.addEventListener('resize', reportWindowSize);

  document.onload = createHTML();

  $('#ov-frame li').click(function(){
  	$('#ov-frame li').removeClass('active-node');
    $(this).addClass('active-node');
  })


  function setCurrentVid(vid, title) {
    document.getElementById('mv-frame').innerHTML = `<iframe src='https://www.youtube.com/embed/${vid}' frameborder='0' allowfullscreen></iframe>`;
    document.getElementById('mv-title').innerHTML = (`<h2>${title}</h2>`);
  }

</script>


{% schema %}
{
  "name": "Video Library",
  "settings": [
    {
      "type": "header",
      "content": "Video Library"
    },
    {
        "id": "bg_color",
        "type": "color",
        "label": "Background color"
      },
      {
        "id": "text_color",
        "type": "color",
        "label": "Text color"
      }
  ],

  "blocks": [
    {
      "type": "image",
      "name": "Video",
      "settings": [
        {
          "id": "video",
          "type": "video_url",
          "label": "Video",
          "accept": ["youtube"]
        },
        {
            "id": "title",
            "type": "textarea",
            "label": "Override YouTube Title"
          }
      ]
    }
  ],

  "presets": [
    {
      "name": "Video Library",
      "category": "Image"
    }
  ]
}
{% endschema %}