<section class="image-banner-container">
    {% for block in section.blocks %}

        <div class="image-banner-lp" style="margin-top: {{ block.settings.margin }}">
            {% if block.settings.zoom_image != blank %}
                <img class="zoomvg" src="{{ block.settings.zoom_image }}">
            {% endif %}
            <div class="grid-container" style="flex-direction: {% if block.settings.right_aligned %}inherit{% else %}row-reverse{% endif %}">
                <div class="image-banner-textblock"></div>
                <div class="image-banner-textblock">
                    <h2 style="color: {{ block.settings.title_color }}">{{ block.settings.title }}</h2>
                    <p style="color: {{ block.settings.copy_color }}">{{ block.settings.copy }}</p>
                </div>
            </div>
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}">
        </div>
    {% endfor %}
</section>

<style>


@media screen and (max-width: 768px) {
    .image-banner-textblock h2 {
        font-size: 17px;
    }

    .image-banner-textblock P {
        font-size: 16px;
    }
}
.image-banner-textblock h2 {
    font-size: 17px;
}

.image-banner-textblock P {
    font-size: 16px;
}

.iris-series-logo {
    left: 1em;
    top: 1em;
}

.iris-lp-collection .grid-container {
    grid-template-columns: repeat(2, 1fr);
}

.lp-collection-product {
    padding: 31px;
}
img.zoomvg {
    position: absolute;
    transform: scale(0);
    animation: zoomvg 20s infinite alternate ease-in-out;
}

@keyframes zoomvg {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(15);
    }
}

    .image-banner-lp{
        position: relative;
        overflow: hidden;
        max-width: 1920px;
        margin: 0 auto;
    }

    .image-banner-lp .grid-container {
        display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    overflow: hidden;
    }

    .image-banner-textblock {
    max-width: 400px;
    flex: 1;
    margin: 0 auto;
    text-align: center;
}

.image-banner-textblock h2 {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: -.003em;
}

.image-banner-textblock P {
    font-size: 20px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
}

</style>

{% schema %}

{
    "name": "Banner",
    "max_blocks": 10,
    "settings": [
        {
            "type": "header",
            "content": "banners"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Banner",
            "settings": [
            {
             "type": "checkbox",
             "id": "right_aligned" ,
             "label": "Align Right",
             "default": false
            },
            {
             "type": "number",
             "id": "margin" ,
             "label": "Margin"
            },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }, {
                    "type": "text",
                    "id": "zoom_image",
                    "label": "Zoom SVG Url"
                }, {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                }, {
                 "type": "textarea",
                 "id": "copy" ,
                 "label": "copy"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Title Color",
                    "default": "#010101"
                }, {
                    "type": "color",
                    "id": "copy_color",
                    "label": "Copy Color",
                    "default": "#ffffff"
                }

            ]
        }
    ],
    "presets": [
        {
            "name": "Icons",
            "category": "Image"
        }
    ]
}

{% endschema %}