<!-- spurit_stp-added -->
{% render 'spurit_stp-cart-snippet' %}
<!-- /spurit_stp-added -->
{{ "adblocker.js" | asset_url | script_tag }}

<style>
    #blacktop {
        min-height: inherit;
        padding: 50px 0;
    }
    #blacktop h1 {
        font-size: 50px;
    }
</style>

<section id="blacktop">
    <div class="container">
        <div id="cart-reminder" class="row">
          <div class="col-lg-5"><h2>Illuminati</br>Rewards Program</h2></div>
          <div class="col-lg-4">
            <div class="row align-items-center my-0">
              <div class="col-sm-1">
                <i class="far fa-check"></i>
              </div>
              <div class="col-sm-11">
                <p>Earn 5% back on purchases</p>
              </div>
            </div>
            <div class="row align-items-center my-0">
              <div class="col-sm-1">
                <i class="far fa-check"></i>
              </div>
              <div class="col-sm-11">
                <p>Free shipping on all orders*</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <a href="/account/register" class="btn btn-black">Save on your order ›</a>
          </div>
        </div>

        <h1 style="font-size: 2em">Your Cart</h1>

        {% if cart.item_count > 0 %}

            <form action="/cart" class="limoniapps-discountninja-cart-root" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th class="hide-on-small">&nbsp;</th>
                            <th class="hide-on-small">Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th class="hide-on-small">&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in cart.items %}
                            {% if item.product.type ==
          'mw_hidden_cart_fee' %}
                                {% continue %}
                            {% endif %}
                            {% assign
          collection_url = item.product.collections.last.url %}
                            {% if
          collection_url == '/collections/frontpage' or collection_url == blank
          %}
                                {% assign collection_url = '/collections/all' %}
                            {% endif %}
                            {% if
          forloop.first %}
                                {% assign continue_shopping_url = collection_url %}
                            {% endif %}
                            {% include 'cart-item' %}
                        {% endfor %}
                    </tbody>
                </table>

                {% comment %}
                    For the checkout and update buttons to work, they need to
                                                                                                                                                  use a name attribute set to 'checkout' and 'update', respectively. That's
                                                                                                                                                  case-sensitive.
                {% endcomment %}


                <div class="column two-thirds flow-opposite right-aligned">
                    <span class="mw-hidden-fees"></span>
                    <div class="discount_code_box">
                        <h4>Enter discount code</h4>
                        <div class="hulkapps_discount_hide">
                            <input aria-required="true" autocomplete="off" class="hulkapps_discount_code" name="checkout_discount" placeholder="Discount code" size="30" type="text"/>

                            <button class="hulkapps_discount_button btn btn--primary button" type="button">
                                Apply
                            </button>
                        </div>
                    </div>
                    <div class="other classes limoniapps-discountninja-cart-subtotal-price">
                        <h4>Subtotal</h4>
                        <div style="margin-bottom: 40px">
                            <span class="csapps-cart-original-total">{{ cart.total_price | money }}</span>
                        </div>
                    </div>
                    <input class="button is-small is-rounded is-primary is-outlined is-uppercase has-text-centered update-cart" name="update" type="submit" value="update"/>
                    <a class="btn btn-alt checkout-button" href="/checkout" style="color: #fff">Checkout</a>
                    <div class="error-alert hidden"></div>
                </div>

                {% comment %}
                    For the special instructions to be submitted with order, we
                                                                                                                                                  need to use a name attribute set to 'note'.
                {% endcomment %}
                <div class="column third flow-opposite left-aligned">
                    <p>Additional Notes</p>
                    <textarea name="note"></textarea>

                    <!-- <input type="submit" name="update" value="Update cart" class="btn btn-outline gray" /> -->
                </div>
                <span class="mw-cart-fees"></span>
            </form>

            {% unless customer %}{% endunless %}
        {% else %}

            <div>
                <h2 >
                    It appears that your cart is currently empty!
                </h2>
                <p style="font-size: 16px" >
                    You can continue browsing
                    <a href="/pages/products">here</a>.
                </p>
            </div>

        {% endif %}
    </div>

</section>

{% include "upsell" %}

<!-- bespoke -->

{% assign isLoggedIn = 'no' %}
{% if customer %}
    {% assign isLoggedIn = 'yes' %}
{% endif %}

<script type="text/javascript">


    var bespokeCartData = {
        {% for item in cart.items %}
            {% if forloop.first %}
                id : {{ item.variant.id | json }},
                properties : {
                    "_customer": "{{ isLoggedIn }}" {% for p in item.properties %}
                        {% if p.first != '_customer' %},
                            "{{ p.first }}" : {{ p.last | json }}
                        {% endif %}
                    {% endfor %},
                    "_adblocker": isAdblocker
                },
                quantity : {{ item.quantity | json }}
            {% endif %}
        {% endfor %}
    };


    $(document).ready(function () {

        $("input[name='updates[]']").on("input", function () {
            $("input[name='update']").trigger("click");
           console.log($(this))

        });

        // check inputs on submit
        $(document).on("click", ".checkout-button", function () {
            var myCart = $(this).closest("form");
            /* append line item property */
            // get cart data if necessary
            if ($.isEmptyObject(bespokeCartData)) {
                $.ajax({
                    url: "/cart.js",
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (cart, textStatus) {
                        if (cart.items.length > 0) {
                            var i = cart.items[0];
                            bespokeCartData.id = i.variant_id;
                            bespokeCartData.quantity = i.quantity;
                            bespokeCartData.properties = i.properties;
                            if (bespokeCartData.properties === null) { // no existing properties
                                bespokeCartData.properties = {
                                    "_customer": "{{ isLoggedIn }}"
                                };
                            } else {
                                bespokeCartData.properties["_customer"] = "{{ isLoggedIn }}";
                            }
                        }
                    }
                });
            }
            if ($.isEmptyObject(bespokeCartData)) { // if still nothing then submit the cart right now
                $(myCart).submit();
                return false;
            }

            // remove from cart
            $.ajax({
                url: "/cart/change.js",
                type: "POST",
                dataType: "json",
                data: {
                    line: 1,
                    quantity: 0
                },
                success: function () { // now add it back in
                    $.ajax({
                        url: "/cart/add.js",
                        type: "POST",
                        dataType: "json",
                        data: bespokeCartData,
                        success: function () {
                            $("<input />")
                                .attr("type", "hidden")
                                .attr("name", "checkout")
                                .attr("value", "Checkout")
                                .appendTo(myCart);
                            $(myCart).submit();
                        },
                        error: function (error) {
                            console
                                .log(error)
                                $(".error-alert")
                                .text(error.responseJSON.description)
                                $(".error-alert")
                                .css("display", "inherit");
                        }
                    });
                }
            });
            return false;
        });
    });
</script>

<!-- end bespoke -->

<p class="fine p-5 align-center">
        *Free shipping on road case orders over $1,000; no rewards earned on masks
    </p>