<style>
  
  .product-carousel2
 {margin-top: 89px;
 }
  
  ul.grid.clearfix {
    margin-top: 35px;
  
</style>


<div id="quarter-screen-infocomm2019">
  <div class="infocomm2019-overlay"></div>
  
<section id="infocomm2019-gallery">

	<div class="flex-container" data-aos="fade-up">

		<div class="infocomm2019-logo">
<img src="{{ 'IC19Logo_White3.png' | file_url }}">
		</div>


          </div>


</section>
  
  	</div>



{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign numbers = 'zero, one, two, three, four, five, six' | split: ',' %}
{% assign products_per_row = settings.products_per_row | times: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}

{% paginate collection.products by 50 %}

{% comment %}
  Re-use the .rte class wherever you output content that was added by a merchant using
  the Rich Text Editor ( 'rte' stands for rich text editor ).
  Style all HTML elements in that content the same way across the board.
  Use the .rte class in your CSS to help maintain consistency.
  Example: the h2 element should have the same size and color in:
  - product descriptions
  - collection descriptions
  - page content
  - blog post
{% endcomment %}

	<script>
		jQuery(window).scroll(function() {
			var scroll = jQuery(window).scrollTop();

			if (scroll >= 200) {
				jQuery(".product-carousel2-attached").addClass("fix");
			} else {
				jQuery(".product-carousel2-attached").removeClass("fix");
			}

		});

	</script>



<section id="studio-b-collector">
  
    <div class="infocomm2019-heading">IRiS™ Video – Believe in Color</div>
        
    <div class="infocomm2019-subtitle"><h3>Blizzard Shines with Hollywood Squares at InfoComm 2019</h3></div>
      
  <div class="infocomm2019-text"><p>It was a 20' x 20' exhibit booth including a 20-foot tall wall of  <a href="https://www.blizzardpro.com/products/iris-r2" target="_blank">IRiS™ R2s</a> hung as high as the Hollywood hills sign...but in Florida.</p>
   
    <p>Blizzard's booth design had the paparazzi swarming at InfoComm 2019, featuring a 3 x 3 square of LED video walls made with 81 IRiS™ R2 panels, plus another  <a href="https://www.blizzardpro.com/products/iris-insite-2-5" target="_blank">36-panel IRiS™ InSite 2.5 wall</a>.</p> 
  
    <p>“Our goal with this year's booth design was to create an environment where our customers would have the opportunity to get as much hands-on interaction with our products as possible," said Lucas Alonso, Product Development Manager. 
  
    <p>"We had several light fixtures set out in our product demo area that were controlled via iPads, as well as video panels that could easily be disassembled all the way down to the receiving card to show the simplicity of installation, solid build quality and amazing serviceability of <a href="https://www.blizzardpro.com/collections/iris" target="_blank">our IRiS™ video wall panels</a>."</p>
    
    <p>Fifteen additional fixtures rounded out the light show cast, directed by AntiShadows Lighting Design. Moving heads, both large and compact (<a href="https://www.blizzardpro.com/products/super-g-150" target="_blank">Super-G™ 150</a>) were on display along with IP65-rated fixtures (<a href="https://www.blizzardpro.com/search?q=TOURnado" target="_blank">TOURnado™ </a>), fit to weather any storm, indoor or outdoor.</p>
    
    <p>Ellipsoidals (<a href="https://www.blizzardpro.com/search?q=Aria" target="_blank">Aria™ </a>) and wash lights (<a href="https://www.blizzardpro.com/search?q=Colorise" target="_blank">Colorise™ </a> / <a href="https://www.blizzardpro.com/search?q=ProPar" target="_blank">ProPar™ </a>) were also fan favorites for the crowds at the Orange County Convention Center. But the breakout star was the prototype for Blizzard's new, internally-developed product: <a href="https://www.blizzardpro.com/products/soc-it" target="_blank">SoC-It™</a> – a wireless, single universe, Art-Net receiver.</p>
    
    </div>
  

  <div class="gallery-header">Photo Gallery 1</div>


  

  <div class="gallery-pic-group-container"><div id="enap-gallery-44115"></div><div id="enap-gallery-popup-44115"></div><script src="https://enormapps.com/gallery/embed.js" data-id="44115"></script></div>

  
  <div class="gallery-header">Watch the Recap Video:</div>
  
  <div class="video-responsive-container">
  <div class="video-responsive">  
<iframe width="560" height="315" src="https://www.youtube.com/embed/QT7LyyDZGg0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>
  
    <div class="gallery-header">Photo Gallery 2</div>
  
  <div class="gallery-pic-group-container"><div id="enap-gallery-44122"></div><div id="enap-gallery-popup-44122"></div><script src="https://enormapps.com/gallery/embed.js" data-id="44122"></script>
  </div>
  
  
   <div class="infocomm2019-subtitle"><h3>Sign Up Below for Product Updates, News, Discounts & More!</h3></div>
  
  <div class="gallery-newsletter-signup">
  <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	portalId: "4135982",
	formId: "6f453f4b-e786-4c35-9192-8089793244d4"
});
</script>
    
  </div>
    
    <div class="gallery-closure-header">Click to learn more about our latest products:</div>
  
  
{% comment %}
  Listing all tags within the current collection.
  Shopify uses product tags to manage subcategories inside collections.
  See 'How do I create subcategories of products?' at 
  http://bit.ly/1j1Dti4 for details.
{% endcomment %}

{% if collection.all_tags.size > 0 %}
<ul class="subcategories clearfix clear">
  <li class="{% unless current_tags %} active{% endunless %}">
    {{ 'All' | link_to_remove_tag: current_tags.first }}
  </li>
  {% for tag in collection.all_tags %}
  {% if current_tags contains tag %}
  <li class="active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li>
    {{ tag | link_to_tag: tag }}
  </li>
  {% endif %}
  {% endfor %}  
</ul>
{% endif %}

{% if collection.description.size > 0 %}
<div class="rte clearfix">
  {{ collection.description }}
</div>
{% endif %}
  
  

<ul class="grid clearfix">
{% for product in collection.products %}
  {% include 'product-grid-item' with products_per_row %}
{% else %}
  <p>There are no products in this view.</p>
{% endfor %}
</ul>
   


{% if paginate.pages > 1 %}
<div class="pagination centered">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}

{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
</section>


<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>