<div class="news-hero">
    {% if settings.news-hero-desktop %}
        <img class="desktop" src="{{ settings.news-hero-desktop | img_url: 'master' }}" alt="Blizzard News"/>
    {% endif %}
    {% if settings.news-hero-mobile %}
        <img class="mobile" src="{{ settings.news-hero-mobile | img_url: 'master' }}" alt="Blizzard News"/>
    {% endif %}

    <div class="headlines">

        {% if settings.news-subheadline %}
            <p>{{ settings.news-subheadline }}</p>
        {% endif %}
        {% if settings.news-headline %}
            <h2>{{ settings.news-headline }}</h2>
        {% endif %}
    </div>

</div>

<div class="news-grid">

    {% assign blog_handle = 'news' %}

    {% unless blogs[blog_handle].empty? or blogs[blog_handle].articles.size == 0 %}

        <div class="flex-container" data-aos="fade-up">

            {% for article in blogs[blog_handle].articles limit: 1000 %}
                <div class="news-item">
                    <div class="category">
                        {% for tag in article.tags %}
                            {% if forloop.last == true %}
                                {{ tag }}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <a href="{{ article.url }}">
                        {% if article.image %}
                            <div class="news-image" style="background-image: url('{{ article.image | img_url: '1024x1024' }}')"></div>
                        {% else %}
                            <div class="default-post"><img src="{{ 'flake.svg' | asset_url }}"/></div>
                        {% endif %}
                    </a>

                    {% assign article_has_image = false %}
                    {% assign content = article.excerpt_or_content %}

                    <div class="meta-box">

                        <div class="container">
                            <h4>{{ article.published_at | date: "%b %d, %Y" }}</h4>
                            <h2>{{ article.title | link_to: article.url }}</h2>

                            <div class="tags">
                                {% for tag in article.tags %}
                                    {% if forloop.last != true %}
                                        <div class="tag">#
                                            {{ tag }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

    <section id="footer-cta">
        <div class="container">
            <h3>Inspiration straight to your inbox</h3>
            <h2>See what our fixtures are doing out in the wild.</h2>

            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">

#mc_embed_signup {
    clear: left;
    font: 14px;
    width: 100%;
}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

</style>
            <div id="mc_embed_signup">
                <form action="//blizzardlighting.us14.list-manage.com/subscribe/post?u=f2f0065007046cef56cc9beaa&amp;id=11e96b700f" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <input
                        class="email" id="mce-EMAIL" name="EMAIL" placeholder="email address" required type="email" value="">
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div aria-hidden="true" style="position: absolute; left: -5000px;"><input name="b_f2f0065007046cef56cc9beaa_11e96b700f" tabindex="-1" type="text" value=""></div>
                        <div class="clear"><input class="btn btn-solidwhite" class="button" name="subscribe" type="submit" value="Subscribe"></div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->

        </div>
        <img class="stick-to-bottom" src="{{ 'footer-cta-fixtures.png' | asset_url }}">
    </section>

{% endunless %}</div> 