
<style>
  input.hs-button.primary.large {
    width: 100%;
}

.blue-btn{
  margin: 0 auto;
  margin-top: 30px;
}
  .full-app h3{
    font-size: 14px}
  @media screen and (min-width: 1024px) {
    .soc-it-list {
      display: flex;
      justify-content: space-between;
    }

    .soc-it-list ul {width: 60%;}
    .full-app{ width: 35%}
  }
</style>

<div class="standalone-buy">
         <div class="bagit orange-btn"  >Add to Cart</div>
</div>
<div id="quarter-screen-soc-it-1">
  <div class="soc-it-1-overlay"></div>

  <section id="soc-it-landing-1">

    <div class="flex-container" data-aos="fade-up">

      <div class="soc-it-logo">
        <img src="{{ 'SoC-It-Logo-slogan-1600w.png' | file_url }}">
      </div>


    </div>


  </section>

</div>





<section id="soc-it-collector">

  <div class="gallery-container">

  


    <div class="soc-it-list">

      <ul>
        <div class="soc-it-heading">Our Homegrown, Wireless DMX Control Solution — SoC-It™</div>

        

        <div class="soc-it-subtitle"><h3>Scary Smart Wi-Fi, Art-Net, sACN, DMX Minicomputer</h3>
        <iframe style="margin: 0 auto; margin-bottom: 30px; display: block;" width="560" height="315" src="https://www.youtube.com/embed/gxt96qw0R6U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <li>Configure and control fixtures from any Android or Apple device using our free app: <strong>@Full</strong></li>
     <li>Wirelessly receive one universe of Art-Net or sACN via Wi-Fi and re-transmit through wired DMX</li>
     <li>Rechargeable battery offers over 8 hours of constant operation</li>
     <li>Connect directly or use any exsiting 2.4Ghz Wi-Fi network for virtually unlimited range</li>
     <li>XLR tab acts as the one button interface</li>
        <li>A design so sleek, you&rsquo;ll want to wash and wax it on the weekends</li>
         <li>*not a vape</li>
        <li><strong>Only $149.99 — BUY NOW!</strong></li>
        
       
         <div class="varId" style="display: none">31190135570515</div>
     
         <div class="blue-btn bagit" style="width: 300px" >BUY NOW >></div>
         {% comment %} {% include 'soc-it-buy' %} {% endcomment %}
      </ul>

      <div class="full-app" style="text-align: center">
<img src="{{ 'soc-it-app.png' | asset_url}}" alt="SoC-It and @Full" />
<img style="width: 150px" src="{{ 'full.svg' | asset_url}}" alt="@full" />
        <p style="padding-top: 20px">Control SoC-It seamlessly via our official companion app, available now!</p>
        <div class="flex-container" style="
                                           display: flex;
                                           flex-wrap: wrap;
                                           justify-content: center;
                                           ">
          <a style="width: 45%" href="https://apps.apple.com/us/app/full/id1483078784" target="_blank"><img style="width: 100%" src="{{ 'apple-app-store-badge.png' | asset_url }}" alt="App Store" /></a>
          <a style="width: 45%" href=" https://play.google.com/store/apps/details?id=com.blizzardpro.atfull" target="_blank">        	<img style="width: 100%" src="{{ 'en_badge_web_generic.png' | asset_url}}" alt="Google Play" />
            <a class="btn-outline" style="border-bottom: 1px solid gray; margin-right: 20px;" href="{{ 'soc-it_cutsheet.pdf' | asset_url }}">Download Quickstart</a>
          <a class="btn-outline" style="border-bottom: 1px solid gray;" href="{{ 'soc-it-manual-digital.pdf' | asset_url }}">Download Manual</a>
          </a>
      </div>

    </div>

  </div>

 



  <div class="gallery-pic-group-container"><div id="enap-gallery-43865"></div><div id="enap-gallery-popup-43865"></div><script src="https://enormapps.com/gallery/embed.js" data-id="43865"></script></div>

  <div class="soc-it-header">SoC-It is Here</div>

  <div class="soc-it-closing" style="padding-bottom: 30px"><p>Sign up for product news & <strong>@Full</strong> app updates as we release new versions, plus exclusive content from our beta test program. Or just place your order today to have your very own SoC-It in your pocket!</p></div>

  <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "4135982",
      formId: "ac753c8c-a43a-42eb-bb7a-8fb9972aed98"
    });
  </script>


    

</section> 


