{% assign add_to_cart = 'Buy' %} {% assign sold_out = 'Sold Out' %} {% assign unavailable = 'Unavailable' %}

<!-- {{ 'imagerotator.js'  | asset_url | script_tag }} -->



<style>
	input[type="submit"] {
		background: white;
		color: #4187f9;
		border: 1px solid;
		padding: 10px;
		border-radius: 25px;
		font-size: 12px;
		letter-spacing: 4px;
		text-transform: uppercase;
		margin-top: 30px;
		transition: .5s;
		font-family: "AvantGarde Bold";
		width: 210px;
	}

	#navigate {
		background: black;
	}

  div#inline {
    padding: 10px;
}



</style>

<div class="product" itemscope itemtype="http://schema.org/Product">


	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
	<meta itemprop="image" content="{{ product | img_url: 'grande' }}" />


	<ul class="nobar">



		{% if product.tags contains 'photometric' or product.tags contains 'novastar cat' or product.tags contains 'cutting' or product.tags contains 'remote' or product.tags contains 'colors and gobos' or product.tags contains 'acc_info' or product.tags contains 'datasheet' or product.tags contains 'amp_cutsheet' or product.tags contains 'cutsheet' or product.tags contains 'rev a' or product.tags contains 'rev b' or product.tags contains 'rev c' or product.tags contains 'rev d' or product.tags contains 'rev e' %}

		<div><a data-scroll href="#downloader">Downloads</a></div>

		{% endif %}

		{% if product.metafields.c_f.Photometric %}

		<div><a href="#inline" data-lity>Photometric Data</a></div>

		{% endif %}



		<div><a data-scroll href="#specifications">Product Specs</a></div>


	</ul>
	<div class="buybar">
		<div class="flex-container">
			<div class="back"><a href="{{ collection.url }}">Go back to {{ collection.title }}</a></div>
			<div class="prod-info-attached">

				<div class="more">&#xf055;</div>
				<div class="less">&#xf056;</div>

			</div>

			<div class="rightbar">

				{% if product.tags contains 'photometric' or product.tags contains 'cutting' or product.tags contains 'remote' or product.tags contains 'colors and gobos' or product.tags contains 'acc_info' or product.tags contains 'datasheet' or product.tags contains 'amp_cutsheet' or product.tags contains 'cutsheet' or product.tags contains 'novastar cat' or product.tags contains 'rev a' or product.tags contains 'rev b' or product.tags contains 'rev c' or product.tags contains 'rev d' or product.tags contains 'rev e' %}

				<div><a class="prod-info" data-scroll href="#downloader">Downloads</a></div>

				{% endif %}

		{% if product.metafields.c_f.Photometric %}

		<div><a class="prod-info" href="#inline" data-lity>Photometric Data</a></div>

		{% endif %}



                            		{% if product.metafields.c_f.Tech_Specs %}

              <div><a class="prod-info" href="#inline" data-lity>Technical Data</a></div>



                	<div id="inline" style="background:#fff" class="lity-hide">
		<div class="techspecs"> {{ product.metafields.c_f.Tech_Specs }}
</div>
	</div>

               {% endif %}

				<div><a class="prod-info" data-scroll href="#specifications">Product Specs</a></div>



					{% if product.title contains 'Eclipse' %}
 			  <div class="btn btn-blue"><a  href="#modal-one">Register</a></div> {% elsif product.title contains 'Lucid' %}
              <div class="btn btn-blue"><a href="#modal-one">Register</a></div>{% elsif product.tags contains 'discontinued'%}
              			<a class="prod-info" style="color: #e43232;font-weight: 900;text-transform: uppercase;letter-spacing: 1px;">Discontinued</a>
             {% else %}

              <div class="btn btn-blue"><a href="#modal-one">Register</a></div> {% endif %}

			</div>

		</div>
	</div>


	{% if product.metafields.c_f.Omacro_ID == blank %} {% include 'buy-modal-blizz' %} {% else %} {% include 'buy-modal' %} {% endif %}


	<!-- Modal -->

	<div id="inline" style="background:#fff" class="lity-hide">
		<div class="photom">
			        {{ product.metafields.c_f.Photometric }}
		</div>
	</div>



	<div class="header-cover"></div>

	<section id="productopper">

		<h5 class="bts"><a href="{{ collection.url }}">Back</a></h5>

		<div  class="flex-container">

			<ul>
				{% for tag in product.tags %}
				<li>
					<a href="/collections/{{ tag | handleize }}">
						<h3>{{ tag }}</h3>
					</a>
				</li>
				{% endfor %}</ul>
			<h1>{{ product.title }}</h1>



			<h2 class="product-subtext"> {{ product.metafields.c_f.Product_Subtitle }}</h2>

			<h4>
				{% assign variant = product.selected_or_first_available_variant %} {% if product.compare_at_price > product.price %}
				<span class="product-price on-sale" itemprop="price">{{ product.price_max | money }}</span>
				<s class="product-compare-price">{{ product.price_max | money }}</s> {% else %}
				<span class="product-price" itemprop="price">{{ product.price_max | money }}</span> {% endif %}
			</h4>

			<img class="lazy welp" src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" /> {% if product.metafields.c_f.Youtube_URL %}
			<div class="btn-group">

{% if product.tags contains 'discontinued'%}

              {% else %}
				<a class="btn btn-outline gray" href="#modal-one">Register</a>
              {% endif %}

				<a class="btn btn-outline gray" href="{{ product.metafields.c_f.Youtube_URL }}" data-lity>Play Video <span class="fa">&#xf144;</span></a>
			</div>

			{% elsif product.title contains 'Eclipse' %}
			<div class="btn-group wider">


				<a class="btn btn-outline gray wide" href="https://blizzardapps.us/wp-content/uploads/2017/09/EclipseDMXSetup.exe_.zip">Download the Software</a>
				<a class="btn btn-outline gray wide" href="#modal-one">Buy the Eclipse Dongle</a>
          </div>


			{% elsif product.title contains 'Lucid' %}
			<div class="btn-group wider">


				<a class="btn btn-outline gray wide" href="https://drive.google.com/file/d/1QF2Zi_sdG72n1YhHFef0C0fX7uPWtnnx/view?usp=sharing">Download the Software</a>
				<a class="btn btn-outline gray wide" href="#modal-one">Buy the Lucid Dongle</a>
			</div>

          			{% elsif product.title contains 'LightShark' %}
			<div class="btn-group wider"><br><br>


				<a class="btn btn-outline gray wide" href="https://drive.google.com/file/d/18IQ8wvVUteiKKK4gKK0crCObxupXA3x-/view?usp=sharing">LightShark Sofwware Update v1.0.2R7</a>
              	<a class="btn btn-outline gray wide" href="https://drive.google.com/file/d/1POhB5fxhydadhnMn70ntqKM74Yeaa7ZA/view?usp=sharing">Fixture Library 2018.12.28</a>
			</div>


          {% else %}

			<a class="btn btn-outline gray" href="#modal-one">Register</a> {% endif %}


      </div>

	</section>

	{% if product.title contains 'Eclipse' %}

	<div id="overflow">
		<ul id="prodSlider">

			{% for image in product.images %} {% unless forloop.index < 5 %} <a data-lity href="//{{image.alt}}" title="{{ product.title }}">
				<li class="item-a" class="{% if forloop.index < 4 %}mobile-only{% endif %}">
					<div class="play fa">&#xf144;</div>
					<div class="overflow-overlay"></div>

					<img class="lazy" data-original="{{ image.src | img_url: 'master' }}">

				</li>
				</a>
				{% endunless %} {% endfor %}

		</ul>
	</div>
	{% elsif product.title contains 'Lucid' %}

	<div id="overflow">
		<ul id="prodSlider">

			{% for image in product.images %} {% unless forloop.index < 4 %} <a data-lity href="//{{image.alt}}" title="{{ product.title }}">
				<li class="item-a" class="{% if forloop.index < 4 %}mobile-only{% endif %}">
					<div class="play fa">&#xf144;</div>
					<div class="overflow-overlay"></div>

					<img src="{{ image.src | img_url: 'master' }}">

				</li>
				</a>
				{% endunless %} {% endfor %}

		</ul>
	</div>

	{% else %}

	<div id="overflow">
		<ul id="prodSlider">

			{% for image in product.images %} {% unless forloop.index < 4 %} <a data-lity href="{{ image | product_img_url: 'large' }}" title="{{ product.title }}">
				<li class="item-a" class="{% if forloop.index < 4 %}mobile-only{% endif %}">
					<div class="overflow-overlay"></div>

					<img src="{{ image.src | img_url: 'master' }}">

				</li>
				</a>
				{% endunless %} {% endfor %}

		</ul>
	</div>

	{% endif %}

	<div id="section-1">
		<div class="container">
			<div class="flex-container" >
				<div class="featuredimg">
					<img src="{{ product.images[1].src | img_url: 'master' }}">
				</div>
				<div class="featuredr">
					{% if product.metafields.c_f.Section_1_Header %}
					<h2>{{ product.metafields.c_f.Section_1_Header }}</h2>
					{% endif %} {% if product.metafields.c_f.Section_1_Description %}
					<p>{{ product.metafields.c_f.Section_1_Description }}</p>
					{% endif %}
				</div>
			</div>

			{% if product.metafields.c_f.Section_2_Header %}
			<div class="flex-container" >
				<div class="featuredimg leftimg">
					<img src="{{ product.images[2].src | img_url: 'master' }}">
				</div>
				<div class="featuredr rightdr">
					<h2>{{ product.metafields.c_f.Section_2_Header }}</h2>
					{% endif %} {% if product.metafields.c_f.Section_2_Description %}
					<p>{{ product.metafields.c_f.Section_2_Description }}</p>
					{% endif %}
				</div>
			</div>

			{% if product.title contains 'Eclipse' %} {% if product.metafields.c_f.Section_3_Header %}
			<div class="flex-container" >
				<div class="featuredimg">
					<img class="lazy" data-original="{{ product.images[3].src | img_url: 'master' }}">
				</div>
				<div class="featuredr">
					<h2>{{ product.metafields.c_f.Section_3_Header }}</h2>
					{% endif %} {% if product.metafields.c_f.Section_3_Description %}
					<p>{{ product.metafields.c_f.Section_3_Description }}</p>
					{% endif %}
				</div>
			</div>

			{% endif %}
		</div>
	</div>

	<span id="specs"></span> {% if product.metafields.c_f.Main_Features %}

	<section id="main_features">

		<h3>Main Features</h3>

		<div class="features">

			<p>

				{{ product.metafields.c_f.Main_Features }}

			</p>


		</div>

	</section>

	{% endif %}

	<span id="specifications">
  <section id="specs" >
    <div class="spec-top">
          <img class="lazy" data-original="{{ 'spec-icon-og.svg' | asset_url }}">
      <h3>Product Specifications</h3>
    </div>


    <div class="steam-container">

            {% if product.metafields.c_f.Density == '1' %}
      <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill one"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Density == '2' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill two"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Density == '3' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill three"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Density == '4' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill four"></div> </div>
        </div>

      	{% elsif product.metafields.c_f.Density == '5' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill five"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Density == '6' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill six"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Density == '7' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill seven"></div> </div>
        </div>

        {% elsif product.metafields.c_f.Density == '8' %}
      <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill eight"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Density == '9' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill nine"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Density == '10' %}
            <div class="steam-item">
        <h4>Density</h4>
        <div class="meter"><div class="fill ten"></div> </div>
        </div>

      {% endif %}


<!--       Hang time Stats         -->

            {% if product.metafields.c_f.Hang_Time == '1' %}
      <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill one"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Hang_Time == '2' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill two"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Hang_Time == '3' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill three"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Hang_Time == '4' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill four"></div> </div>
        </div>

      	{% elsif product.metafields.c_f.Hang_Time == '5' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill five"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Hang_Time == '6' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill six"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Hang_Time == '7' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill seven"></div> </div>
        </div>

        {% elsif product.metafields.c_f.Hang_Time == '8' %}
      <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill eight"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Hang_Time == '9' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill nine"></div> </div>
        </div>

            	{% elsif product.metafields.c_f.Hang_Time == '10' %}
            <div class="steam-item">
        <h4>Hang Time</h4>
        <div class="meter"><div class="fill ten"></div> </div>
        </div>

      {% endif %}


    </div>

    <div class="flex-container" >

            {% if product.metafields.c_f.General_Specs %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon-15.svg' | asset_url }}">
        <h4>Overview</h4>
        <p>{{ product.metafields.c_f.General_Specs | newline_to_br }}<p>
        </div>
      {% endif %}


      {% if product.metafields.c_f.Optical %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon-05.svg' | asset_url }}">
        <h4>Optical</h4>
        <p>{{ product.metafields.c_f.Optical | newline_to_br }}<p>
        </div>
      {% endif %}


            {% if product.metafields.c_f.In_the_Box %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--09.svg' | asset_url }}">
        <h4>In the Box</h4>
        <p>{{ product.metafields.c_f.In_the_Box | newline_to_br }}<p>
        </div>
      {% endif %}


            {% if product.metafields.c_f.Movement %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--01.svg' | asset_url }}">
        <h4>Movement</h4>
        <p>{{ product.metafields.c_f.Movement | newline_to_br }}<p>
        </div>
      {% endif %}


                  {% if product.metafields.c_f.Wireless_Receiver %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--03.svg' | asset_url }}">
        <h4>Wireless Receiver</h4>
        <p>{{ product.metafields.c_f.Wireless_Receiver | newline_to_br }}<p>
        </div>
      {% endif %}


                  {% if product.metafields.c_f.Optional_Accessories %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--04.svg' | asset_url }}">
        <h4>Optional Accessories</h4>
        <p>{{ product.metafields.c_f.Optional_Accessories | newline_to_br }}<p>
        </div>
      {% endif %}


                  {% if product.metafields.c_f.Wireless_Footswitch %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--05.svg' | asset_url }}">
        <h4>Wireless Footswitch</h4>
        <p>{{ product.metafields.c_f.Wireless_Footswitch | newline_to_br }}<p>
        </div>
      {% endif %}


                  {% if product.metafields.c_f.Radio_Parameters %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--06.svg' | asset_url }}">
        <h4>Radio Parameters</h4>
        <p>{{ product.metafields.c_f.Radio_Parameters | newline_to_br }}<p>
        </div>
      {% endif %}


                  {% if product.metafields.c_f.Connectors %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--07.svg' | asset_url }}">
        <h4>Connectors</h4>
        <p>{{ product.metafields.c_f.Connectors | newline_to_br }}<p>
        </div>
      {% endif %}


                  {% if product.metafields.c_f.System_Requirements %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--08.svg' | asset_url }}">
        <h4>System Requirements</h4>
        <p>{{ product.metafields.c_f.System_Requirements | newline_to_br }}<p>
        </div>
      {% endif %}

                        {% if product.metafields.c_f.USB_Data_Format %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--10.svg
        ' | asset_url }}">
        <h4>USB Data Format</h4>
        <p>{{ product.metafields.c_f.USB_Data_Format | newline_to_br }}<p>
        </div>
      {% endif %}

                              {% if product.metafields.c_f.Rigging_&_Application %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon-22.svg
        ' | asset_url }}">
        <h4>Rigging & Application</h4>
        <p>{{ product.metafields.c_f.Rigging_&_Application | newline_to_br }}<p>
        </div>
      {% endif %}


      {% if product.metafields.c_f.Weight_and_Dimensions %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon-04.svg' | asset_url }}">
        <h4>Weight & Dimensions</h4>
        <p>{{ product.metafields.c_f.Weight_and_Dimensions | newline_to_br }}<p>
        </div>
      {% endif %}


            {% if product.metafields.c_f.Battery_Info %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--11.svg' | asset_url }}">
        <h4>Battery Info</h4>
        <p>{{ product.metafields.c_f.Battery_Info | newline_to_br }}<p>
        </div>
      {% endif %}


      {% if product.metafields.c_f.Control %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon-01.svg' | asset_url }}">
        <h4>Control</h4>
        <p>{{ product.metafields.c_f.Control | newline_to_br }}<p>
        </div>
      {% endif %}





      {% if product.metafields.c_f.Power_and_Current %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon-02.svg' | asset_url }}">
        <h4>Power & Current</h4>
        <p>{{ product.metafields.c_f.Power_and_Current | newline_to_br }}<p>
        </div>
      {% endif %}





      {% if product.metafields.c_f.Thermal %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon-03.svg' | asset_url }}">
        <h4>Thermal</h4>
        <p>{{ product.metafields.c_f.Thermal | newline_to_br }}<p>
        </div>
      {% endif %}


                      {% if product.metafields.c_f.Warranty %}
      <div class="spec-item">
        <img class="lazy" data-original="{{ 'spec-icon--02.svg' | asset_url }}">
        <h4>Warranty</h4>
        <p>{{ product.metafields.c_f.Warranty | newline_to_br }}<p>
        </div>
      {% endif %}



                        {% if product.metafields.c_f.DMX_Decoder %}
      <div class="spec-item">
        <h4>DMX Decoder</h4>
        <p>{{ product.metafields.c_f.DMX_Decoder | newline_to_br }}<p>
        </div>
      {% endif %}


                            {% if product.metafields.c_f.RGB_Dimmer %}
      <div class="spec-item">
        <h4>RGB Dimmer</h4>
        <p>{{ product.metafields.c_f.RGB_Dimmer | newline_to_br }}<p>
        </div>
      {% endif %}


                            {% if product.metafields.c_f.Remote_Control %}
      <div class="spec-item">
        <h4>Remote Control</h4>
        <p>{{ product.metafields.c_f.Remote_Control | newline_to_br }}<p>
        </div>
      {% endif %}


                            {% if product.metafields.c_f.Power_Supply %}
      <div class="spec-item">
        <h4>Power Supply</h4>
        <p>{{ product.metafields.c_f.Power_Supply | newline_to_br }}<p>
        </div>
      {% endif %}


                            {% if product.metafields.c_f.Amplifier %}
      <div class="spec-item">
        <h4>Amplifier</h4>
        <p>{{ product.metafields.c_f.Amplifier | newline_to_br }}<p>
        </div>
      {% endif %}





                                  {% if product.metafields.c_f.Apps %}
      <div class="spec-item">
        <h4>Apps</h4>
        <p>{{ product.metafields.c_f.Apps | newline_to_br }}<p>
        </div>
      {% endif %}

    </div>

  </section>



  <section id="downloader">

      <img class="woops" src="{{ 's-icon02.svg' | asset_url }}">
      <h3>Downloads</h3>

        {% if product.tags contains 'photometric' or product.tags contains 'cutting' or product.tags contains 'remote' or product.tags contains 'colors and gobos' or product.tags contains 'acc_info' or product.tags contains 'datasheet' or product.tags contains 'amp_cutsheet' or product.tags contains 'cutsheet' or product.tags contains 'novastar cat' or product.tags contains 'rev a' or product.tags contains 'rev b' or product.tags contains 'rev c' or product.tags contains 'rev d' or product.tags contains 'rev e' %}


        <div class="download-tab">

           <div class="flex-container">

         {% if product.tags contains 'photometric' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_photometric-cutsheet.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'cutsheet.png' | asset_url }}">
              <h3>Photometric Cutsheet</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_photometric-cutsheet.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_photometric-cutsheet.pdf' }}</p>
             </li></a>
         {% endif %}


                          {% if product.tags contains 'cutting' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_ribboncutting.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'cutting.svg' | asset_url }}">
              <h3>Ribbon Cutting Instructions</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_ribboncutting.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_ribboncutting.pdf' }}</p>
             </li></a>
         {% endif %}


                          {% if product.tags contains 'remote' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_remote.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'remote.svg' | asset_url }}">
              <h3>Remote</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_remote.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_remote.pdf' }}</p>
             </li></a>
         {% endif %}


             {% if product.tags contains 'colors and gobos' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_colors_gobos.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'colorsandgobos.svg' | asset_url }}">
              <h3>Colors & Gobos</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_colors_gobos.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_colors_gobos.pdf' }}</p>
             </li></a>
         {% endif %}

             {% if product.tags contains 'acc_info' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_accessories.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'accessories.svg' | asset_url }}">
              <h3>Accessories</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_accessories.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_accessories.pdf' }}</p>
             </li></a>
         {% endif %}


                                   {% if product.tags contains 'datasheet' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_safety_datasheet.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'cutsheet.png' | asset_url }}">
              <h3>Datasheet</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_safety_datasheet.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_safety_datasheet.pdf' }}</p>
             </li></a>
         {% endif %}

                                   {% if product.tags contains 'firmware' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_firmware.zip' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'cutsheet.png' | asset_url }}">
              <h3>Firmware</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_firmware.zip' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_firmware.zip' }}</p>
             </li></a>
         {% endif %}


                                   {% if product.tags contains 'amp-cutsheet' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_amp-cutsheet.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'cutsheet.png' | asset_url }}">
              <h3>Amp Cutsheet</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_amp-cutsheet.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_amp-cutsheet.pdf' }}</p>
             </li></a>
         {% endif %}


                      {% if product.tags contains 'cutsheet' %}
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_cutsheet.pdf' | file_url }}">
            <li>
              <img class="lazy" data-original="{{ 'cutsheet.png' | asset_url }}">
              <h3>Cutsheet</h3>
                           <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_cutsheet.pdf' | file_url }}">
Download</a>
   			  <p>{{ product.url | remove: "/products/" | append: '_cutsheet.pdf' }}</p>
             </li></a>
         {% endif %}


          {% if product.tags contains 'rev a' %}
            <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_a.pdf' | file_url }}"><li>
              <img class="lazy" data-original="{{ 'manual.png' | asset_url }}">
              <h3>Manual<br>Rev A</h3>
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_a.pdf' | file_url }}">Download</a>
              <p>{{ product.url | remove: "/products/" | append: '_manual_rev_a.pdf' }}</p>
             </li></a>
         {% endif %}


                       {% if product.tags contains 'rev b' %}
            <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_b.pdf' | file_url }}"><li>
              <img class="lazy" data-original="{{ 'manual.png' | asset_url }}">
              <h3>Manual<br>Rev B</h3>
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_b.pdf' | file_url }}">Download</a>
              <p>{{ product.url | remove: "/products/" | append: '_manual_rev_b.pdf' }}</p>
             </li></a>
         {% endif %}


         {% if product.tags contains 'rev c' %}
            <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_c.pdf' | file_url }}"><li>
              <img class="lazy" data-original="{{ 'manual.png' | asset_url }}">
              <h3>Manual<br>Rev C</h3>
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_c.pdf' | file_url }}">Download</a>
              <p>{{ product.url | remove: "/products/" | append: '_manual_rev_c.pdf' }}</p>
             </li></a>
         {% endif %}

                                    {% if product.tags contains 'rev d' %}
            <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_d.pdf' | file_url }}"><li>
              <img class="lazy" data-original="{{ 'manual.png' | asset_url }}">
              <h3>Manual<br>Rev D</h3>
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_d.pdf' | file_url }}">Download</a>
              <p>{{ product.url | remove: "/products/" | append: '_manual_rev_d.pdf' }}</p>
             </li></a>
         {% endif %}

         {% if product.tags contains 'rev e' %}
            <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_e.pdf' | file_url }}"><li>
              <img class="lazy" data-original="{{ 'manual.png' | asset_url }}">
              <h3>Manual<br>Rev E</h3>
             <a target="_blank" href="{{ product.url | remove: "/products/" | append: '_manual_rev_e.pdf' | file_url }}">Download</a>
              <p>{{ product.url | remove: "/products/" | append: '_manual_rev_e.pdf' }}</p>
             </li></a>
         {% endif %}

                      {% if product.tags contains 'novastar cat' %}
            <a target="_blank" href="https://drive.google.com/uc?export=download&id=1gekq7-eyBsNDFcorzRSaA78eqoUtmKIn"><li>
              <img class="lazy" data-original="{{ 'manual.png' | asset_url }}">
              <h3>2018 NovaStar<br>Catalog</h3>
             <a target="_blank" href="https://drive.google.com/uc?export=download&id=1gekq7-eyBsNDFcorzRSaA78eqoUtmKIn">Download</a>
              <p>2018 NovaStar™ Catalog (PowerPoint)</p>
             </li></a>
         {% endif %}



           </div>

      	  </div>





  </section>

    {% else %}

    <p style="text-align: center;">There are no downloads for this product at this time.</p>


{% endif %}

  </div>







{% comment %}
  Adding support for product options. See here for details:
  http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}





<script>

    if ($(window).width() > 600) {
  $('.welp' ).wrap ("<div class='product-photo-container'></div>");
}

  else {
$('.welp' ).wrap ("<a id='fix'></a>");
  }

</script>
